### Get the CSVs from CSV inside of SQL

To get the CSVs inside of SQL I need to use glob that goes through each one of the CSVs, uploads them into a pandas dataframe and sends that pandas dataframe to MySQL using SQLalchemy

In [1]:
import pandas as pd
import glob, os
from sqlalchemy import create_engine

In [3]:
files = glob.glob("C:/Users/leand/OneDrive/Escritorio/Proyecto_SQL/*.csv")
for file in files:
    df = pd.read_csv(file)

    # Create SQLalchemy engine to connet to MySQL Database 
    engine = create_engine("mysql+pymysql://root:000000@127.0.0.1:3306/airbnb")
    
    #Convert dataframe to SQL table
    df.to_sql(file[:-4], engine, index=False)
    
    print('done')

C:\Users\leand\AppData\Local\Temp\ipykernel_19536\1224303558.py:5: UserWarning: The provided table name 'C:/Users/leand/OneDrive/Escritorio/Proyecto_SQL\calendar' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(file[:-4], engine, index=False)

done

C:\Users\leand\AppData\Local\Temp\ipykernel_19536\1224303558.py:5: UserWarning: The provided table name 'C:/Users/leand/OneDrive/Escritorio/Proyecto_SQL\listings' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(file[:-4], engine, index=False)

done

C:\Users\leand\AppData\Local\Temp\ipykernel_19536\1224303558.py:5: UserWarning: The provided table name 'C:/Users/leand/OneDrive/Escritorio/Proyecto_SQL\listings2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(file[:-4], engine, index=False)
C:\Users\leand\AppData\Local\Temp\ipykernel_19536\1224303558.py:5: UserWarning: The provided table name 'C:/Users/leand/OneDrive/Escritorio/Proyecto_SQL\neighbourhoods' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(file[:-4], engine, index=False)

done
done

C:\Users\leand\AppData\Local\Temp\ipykernel_19536\1224303558.py:5: UserWarning: The provided table name 'C:/Users/leand/OneDrive/Escritorio/Proyecto_SQL\reviews' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(file[:-4], engine, index=False)

done
done

C:\Users\leand\AppData\Local\Temp\ipykernel_19536\1224303558.py:5: UserWarning: The provided table name 'C:/Users/leand/OneDrive/Escritorio/Proyecto_SQL\reviews2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(file[:-4], engine, index=False)